@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <strong>
                @Html.ActionLink("¡ Hola " + User.Identity.GetUserName() + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </strong>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="border: 1px solid white; border-radius: 10px">
        <li>
            <button type="button" onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-link">
                <span class="glyphicon glyphicon-user"></span> Registrarse
            </button>
        </li>
        <li>
            <button type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-link">
                <span class="glyphicon glyphicon-log-in"></span> Iniciar sesión
            </button>
        </li>
    </ul>
}
